#img1{
    width: 1500px;
    height: 300px;
}
#center{
    text-align: center;
    color: darkslateblue;
    background-color: chartreuse;
}
h1, h2, h3, h4,h5 {
    font-weight: 900;
}
input {
    text-align: center;
    font-weight: bolder;
    padding: 0 0.10em;
    display: block;
    width: 25%;
    height: 35px;
    border: 2px solid black;
    border-radius: 10px;
    border: black;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    font-size: large;

}
button {
    height: 30px;
    background-color: darkorange;
    width: 60px;
    color: white;
    font-weight: bolder;
    padding: 10px;
    border: black;
    border-radius: 7px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
}
body ,html {
    background: url("https://d33wubrfki0l68.cloudfront.net/b4759e96fa9ada8ee8caa4c771fcd503f289d791/6de77/static/triangle_background-9df4fa2e10f0e294779511e99083c2bc.jpg") no-repeat center center fixed;
    background-size: cover;
}
.ktk{
    width: 45px;
}
img{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: double;
}
div{
    font-size: larger;
    color: black;
    font-weight: 1000;
}
/*----------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
a{
    font-size: 100%;
    color: #007bff; /* Màu chữ */
    text-decoration: none; /* Loại bỏ gạch chân */
    transition: color 0.3s ease; /* Hiệu ứng chuyển màu mượt mà */
}
a:hover {
    color: #ff0000; /* Màu chữ khi di chuột qua */
}
p {
    font-weight: bolder;
}
.footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: #666;
}

/* CSS cho liên kết trong phần cuối trang */
.footer a {
    text-decoration: none;
    color: #666;
}

.footer a:hover {
    color: #000;
}